@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Bold.ttf');
    font-weight: 700;
}

body {
    font-family: 'Circular XX TT', sans-serif;
}
