@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Regular.ttf') format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Light.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Circular XX TT';
    src: url('/fonts/CircularXXTT-Bold.ttf') format('ttf');
    font-weight: 700;
}
